body{
  background-color: #1b263b;
  color: white;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  display: flex;
}


.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  color: red;
}

.weather-header{
  background-color: #0d1b2a;
}

.border{
  color: aliceblue;
  border-radius: 50px;
  box-shadow: 5px 10px 8px 10px #001524;
}

button{
  border-radius: 50px;
  display: flex;
  justify-content: center

};